<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="print.css">
    <link rel="stylesheet" href="main.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-print-7 col-xs-7">
            <h1>{{ me }}<br />
                <small class="glitch-bg hidden-print">
                    <div class="glitch_word_box">
                        <div class="line"></div>
                        {% for i in [1,2,3] %}
                            <small id="word{{ i }}" class="glitch_word{{ i }} glitch-common">{{ title }}</small>
                        {% endfor %}
                    </div>
                </small>
                <small class="visible-print">{{ title }}</small>
            </h1>
        </div>

        <div class="col-md-3 col-print-5 col-xs-5">
            <p style="margin-top:35px">
                <small>
                    {{ location }}<br />
                    {{ phone }}<br />
                    <a href="mailto:{{ email }}">{{ email }}</a><br />
                </small>
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3 col-print-3 print-hidden">
            <h3>{{ skills.title }}</h3>
        </div>

        <div class="col-md-9 col-print-9 visible-print">
            {% for skill in skills.list %}
                <span>{{ skill.lang }} ({{ skill.percent }}%)</span>
            {% endfor %}
        </div>

        <div class="col-md-9 col-print-9 hidden-print">
            {% for skill in skills.list %}
                <div class="labels">
                    <span>{{ skill.lang }}</span>
                    <span>{{ skill.percent }}%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percent }}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{ skill.percent }}%;">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <hr />

    <div class="row clearfix">
        <div class="col-md-12 col-print-12">
            <h2>{{ education.title }}</h2>
        </div>

        <hr />

        {% for education in education.list %}
            <div class="row">
                <div class="col-md-3 col-print-3">
                    <h4>{{ education.period }}</h4>
                </div>

                <ul class="col-md-9 col-print-9">
                    <li>{{ education.name }}</li>
                </ul>
            </div>
        {% endfor %}

    </div>

    <hr />

    <div class="row">

        <div class="col-md-12 col-print-12">
            <h2>{{ experience.title }}</h2>

            <!--hr />

            <div class="row">
                <div class="col-md-3 col-print-3">
                    <h4>2006-2010 years<br />Introduction to programming</h4>
                </div>

                <div class="col-md-9 col-print-9">
                    <ul>
                        <li>I read various blogs, in particular, the CIS is the most popular IT blog - habrahabr.ru</li>
                        <li>I read books about the structure \ architecture, different programming languages (mostly PHP), and text-markup languages</li>
                        <li>I watched all kinds of video tutorials to learn PHP, HTML and CSS</li>
                        <li>Strengthens the theory in practice learned to code, and then in all learned going to code</li>
                    </ul>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-3 col-print-3">
                    <h4>2007-2010 years<br />Learning by doing</h4>
                </div>

                <div class="col-md-9 col-print-9">
                    <ul>
                        <li>During my student life I have tried to look on freelance projects and do them</li>
                        <li>I tried to code something on my own, just to reinforce the theory</li>
                    </ul>
                </div>
            </div-->

            <hr />

            {% for exp in experience.list %}
                <div class="row">
                    <div class="col-md-3 col-print-3">
                        <h4>{{ exp.period }}<br />
                            {{ exp.name }}<br />
                            {% if exp.links %}
                                {% for link in exp.links %}
                                    <small>
                                        <a href="http://{{ link }}" target="_blank">{{ link }}</a>
                                    </small><br />
                                {% endfor %}
                            {% elseif exp.link %}
                                <small>
                                    <a href="http://{{ exp.link }}" target="_blank">{{ exp.link }}</a>
                                </small><br />
                            {% endif %}
                            <small>{{ exp.type }}</small><br />
                            <small>{{ exp.description }}</small>
                        </h4>
                    </div>

                    {% if exp.tasks %}
                    <div class="col-md-9 col-print-9">
                        <ul>
                            {% for task in exp.tasks %}
                                <li>{{ task }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if exp.projects %}
                        <div class="col-md-9 col-print-9">
                            <ul>
                                {% for project in exp.projects %}
                                    <li>
                                        <span>{{ project.name }}</span>
                                        <a href="http://{{ project.link }}" target="_blank">{{ project.link }}</a>
                                        <small>{{ project.desc }}</small>
                                        {% if project.tasks %}
                                            <ul>
                                                {% for task in project.tasks %}
                                                    <li>{{ task }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                {% if loop.last === false %}
                <hr />
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>